# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
run-data/logs
# gradle
build
.gradle

# other
eclipse
run
# Files from Forge MDK
forge*changelog.txt
/src/generated [main]/
/run-data/
/src/generated/
